# /data/
/archive/

# Python
__pycache__/
*.pyc
.venv/
/wandb/
/run/
*.cache

# check_labels outputs
/.draft/
data/.draft/_roboflow/
check_labels_report.txt

# Training scripts
/train.py
/tune.py
/sync_overleaf.sh

# OS
.DS_Store

# Overleaf Connect
.overleafconnect
*.aux
*.log
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.out
*.toc
*.pdf
*.nav
*.snm
*.vrb
*.lot
*.lof
*.brf
%OUTDIR%/
